<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Hello HTML</title>
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body>
		<h1>Hello, HTML.</h1>
		<p>Do not use until Challenge #12</p>
     <form action="/name" method="post">
      <label>First Name :</label>
      <input type="text" name="first" value="John"><br>
      <label>Last Name :</label>
      <input type="text" name="last" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form> 
	<div style="position: relative; width:100%; padding-bottom:52%;"><iframe title="Palvelukartta - Osoitesivu" style="position: absolute; top: 0; left: 0; border: none; width: 50%; height: 50%;" src="https://palvelukartta.hel.fi/fi/embed/address/espoo/Kantokaskenpolku 3?map=ortographic&city=helsinki,espoo,vantaa,kauniainen,kirkkonummi&bbox=60.17990581342106,24.661348619626676,60.18175462295765,24.668393517963782"></iframe></div>
	</body>

</html>
